.dashboard-page {
  background-color: #E7E6F7;
  color: #0A070E;
}

// #grid-left-dashboard {
//   overflow: auto;
//   height: 100vh;
// }

#grid-right-dashboard {
  border-left: 2px solid #0A070E;
}
