// Import page-specific CSS files here.
@import "home";
@import "show";

body {
  background-color: #0A070E;
  color: #E7E6F7;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

a {
  text-decoration: none;
}
