// Import page-specific CSS files here.
@import "home";
@import "show";

body {
  background-color: #0A070E;
  color: #E7E6F7;
}

.cards-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}
