// .banner{
//     background-color: #0A070E;
//     color: #E7E6F7;
//   }

  // .image-container {
  //   padding: 5px;
  // }
  .offer-form-column{
    padding: 5px;
  }
  .user-info-section {
    background-color: #0A070E; // Легкий фон для секции
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); // Легкая тень
  }

  .map-container {
    // Дополнительные стили для контейнера карты, если нужны
    border-radius: 0.5rem;
    overflow: hidden; // Важно для скругления углов у карты
  }

  .other-game-card {
    background-image: linear-gradient(85deg, rgb(192, 1, 1), rgb(150, 2, 2));
    border: 1px solid #e9ecef;
    border-radius: 0.3rem;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #e2e6ea;
      transform: translateX(3px); // Небольшое смещение при наведении
    }

    .rounded-circle {
      flex-shrink: 0; // Предотвращает сжатие изображения
    }
  }

  /* Стили для контейнера формы с классом .form-container */
.form-container {
  background-color: #0A070E; /* Темный фон для формы */
  color: #E7E6F7;           /* Светлый цвет текста по умолчанию для формы */
  border-radius: 8px;        /* Скругленные углы для контейнера формы */
  border: 1px solid #0A070E;    /* Небольшая рамка вокруг контейнера */
          /* Опционально: центрировать форму на странице */
}

/* Стили для меток (labels) внутри .form-container */
.form-container label {
  color: #E7E6F7;
  font-weight: bold;
  display: block;
}

/* Общие стили для полей ввода и текстовых областей в .form-container */
.form-container input[type="start_date"],
.form-container input[type="end_date"],
.form-container input[type="comment"],
.form-container input[type="date"],
.form-container input[type="datetime-local"],
.form-container input[type="number"],
.form-container textarea,
.form-container select {
  background-color:#0A070E;
  color: #E7E6F7; 
  border: 1px solid#E7E6F7;
  border-radius: 10px;
}

/* Стили для полей ввода при фокусе в .form-container */
.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus,
.form-container input[type="date"]:focus,
.form-container input[type="datetime-local"]:focus,
.form-container input[type="number"]:focus,
.form-container textarea:focus,
.form-container select:focus {
  border-color: #0A070E;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  outline: none;
}

/* Цвет плейсхолдера (подсказывающего текста в поле) в .form-container */
.form-container ::placeholder {
  color: #0A070E;
  opacity: 1;
}
.form-container :-ms-input-placeholder {
  color:#0A070E;
}
.form-container ::-ms-input-placeholder {
  color: #0A070E;
}
