// .banner{
//     background-color: #0A070E;
//     color: #E7E6F7;
//   }

  // .image-container {
  //   padding: 5px;
  // }
  .offer-form-column{
    padding: 5px;
  }
  .user-info-section {
    background-color: #0A070E; // Легкий фон для секции
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); // Легкая тень
  }
  
  .map-container {
    // Дополнительные стили для контейнера карты, если нужны
    border-radius: 0.5rem;
    overflow: hidden; // Важно для скругления углов у карты
  }
  
  .other-game-card {
    background: linear-gradient(85deg, rgb(192, 1, 1), rgb(150, 2, 2));
    border: 1px solid #e9ecef;
    border-radius: 0.3rem;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
  
    &:hover {
      background-color: #e2e6ea;
      transform: translateX(3px); // Небольшое смещение при наведении
    }
  
    .rounded-circle {
      flex-shrink: 0; // Предотвращает сжатие изображения
    }
  }
