.show-page {
  background-color: #0A070E;
  color: #E7E6F7;
}

.form-section {
  width: 800px;
  margin: 20px auto;
}

.cards-section {
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.grid-right {
  border-left: 2px solid #E7E6F7;
}
