<div class="container">

  <div class="cards-section">

    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>

        <div class="card">

          <div class="card-platform">
            <p><%= item.platform %></p>
          </div>

          <%= cl_image_tag item.photo.key, height: 450, width: 300, crop: :fill %>

          <div class="card-title">
            <h2><%= item.title %></h2>
          </div>

        </div>

      <% end %>
    <% end %>

  </div>

</div>
