<div class="container">
  <h1>Video Game Collection</h1>
  <p>Welcome to the video game collection page.</p>

  <% @items.each do |item| %>
    <div class="card">
      <h2><%= item.title %></h2>
        <%= image_tag item.poster_url, class: "game-image", alt: "Image of #{item.title}" %>
      <p><strong>Platform:</strong> <%= item.platform %></p>
    </div>
  <% end %>
</div>
