.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // text-align: center;
  background-image: linear-gradient(rgba(74, 22, 65, 0.4),rgba(0,0,0,0.4)), url("video_games.jpg");
  height: 200px;
  color: #E7E6F7;
  border-top: 6px solid #E7E6F7;
  border-bottom: 6px solid #E7E6F7;

  h1 {
    font-size: 60px;
    font-weight: 900;
  }

  h2 {
    font-size: 18px;
    letter-spacing: 4px;
  }
}
