.button-nav {
  text-decoration: none;
  color: #E7E6F7;
  font-size: 14px;
  font-weight: 600;
  padding: 4px 8px;
  margin: 0 16px;
  border-left: 4px solid #E7E6F7;
  border-right: 4px solid #E7E6F7;
}
