.outline-container {
  border: 0.2px solid rgba(200,200,200,0.2);
  border-radius: 6px;
  width: 600px;
  margin: 20px auto;

  .item-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    position: relative;
    border-top: 4px solid rgb(192, 1, 1);
    border-bottom: 4px solid rgb(192, 1, 1);
    border-left: 4px solid rgb(192, 1, 1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    // box-shadow: 2px 2px 8px rgba(200,200,200,0.2);

    .image-container {
      img {
        width: 300px;
        object-fit: cover;
      }
    }

    .description-container {
      display: flex;
      flex-direction: column;
      border-bottom: 12px solid rgb(192, 1, 1);
      // border-bottom-right-radius: 6px;

      .platform-container {
        height: 40px;
        display: flex;
        align-items: center;
        color: #E7E6F7;
        background-color: rgb(192, 1, 1);
        display: flex;
        align-items: center;
        padding-left: 24px;
        // border-top-right-radius: 6px;

        p {
          margin: 0;
          font-size: 14px;
        }
      }

      .text-container {
        flex-grow: 1;
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding: 24px;
        color: white;
        background-color: black;
      }
      .offer-button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(85deg, rgb(192, 1, 1), rgb(115, 1, 1));
        width: 60px;
        height: 60px;
        border: 2px solid #bdbcc9;
        border-radius: 50%;
        left: 95%;
        bottom: 60px;
        box-shadow: 0px 0px 4px rgba(220,220,220,0.4);

        span {
          color: #E7E6F7;
          font-size: 12px;
          font-weight: 900;
          text-align: center;
          text-shadow: -0.5px -0.5px 1px rgba(100, 100, 100, 0.4);
        }
      }
    }
  }
}
