.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #0A070E;
  color: #E7E6F7;
  border-bottom: 2px solid #E7E6F7;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

 .container-fluid i {
  font-size: 48px;
  color: rgb(192, 1, 1);
  margin-left: 14px 7px;
}

.navbar-icon {
  text-shadow: 0 0 1px #bdbcc9;
}

.nav-link {
  color: #E7E6F7;
}

// .navbar-link:hover {
//   color: #bdbcc9 !important;
// }

.navbar-brand {
  color: #E7E6F7;
  display: flex;
  align-items: center;

  h2 {
    font-weight: 800;
    margin-left: 12px;
    margin-bottom: 0;
  }
}

.navbar-brand:hover {
  color: #c8c7d4;
}
