.navbar-lewagon {
  justify-content: space-between;
  background: #0A070E;
  color: #E7E6F7;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

 .container-fluid i {
  font-size: 48px;
  color: rgb(192, 1, 1);
  margin-left: 14px 7px;
}
