.offer-received {
  border-bottom: 0.5px solid grey;


  .offer-header-dates {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;

    span {
      font-size: 12px;
    }
    h2 {
      font-size: 14px;
      font-weight: 800;
    }
  }

  .offer-comment-buttons {
    display: grid;
    grid-template-columns: 3fr 1fr;

    p {
      font-size: 12px;
      margin-bottom: 2px;
    }

    .offer-buttons {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
